<div class="card mb-3">
    <h3 class="card-header">{{article.constructeur.nom}}</h3>
    <div class="card-body">
      <h5 class="card-title">{{article.designation}}</h5>
      <h6 class="card-subtitle text-muted">Support card subtitle</h6>
    </div>
    <img style="height: 200px; width: 100%; display: block;" [src]=article.image alt="Card image">
    <div class="card-body">
      <p class="card-text">{{article.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{article.categorie.nom}}</li>
      <li class="list-group-item">{{article.prix}} €</li>
      <li class="list-group-item">Stock restant : {{article.stock}}</li>
    </ul>
    <div class="card-footer text-muted">
        {{article.dateMiseEnLigne}}
    </div>
  </div>

  
        <!-- <div class="card-action">
          <button (click)="augmenterPrix()">Augmenter Prix</button><br>
          <input type="number" [(ngModel)]=article.stock (change)='afficherStock()'/>
          <input type="number" [(ngModel)]=article.prix />
          <a href="#">This is a link</a>
          <br>
          <button (click)="precedent()" [disabled]=disabled><</button>
          <button (click)="suivant()">></button><br>
        </div> -->

        <!-- [align]=alignement -->
 